.git/

# for WebStorm
.idea/

# for VSCode
.vscode/

# for npm
node_modules/
npm-shrinkwrap.json

# for https://github.com/Microsoft/TypeScript/issues/4667
src/**/*

# codes
test/

# misc
example/
.gitignore
.gitattributes
tsconfig.json
npm-debug.log